# Python cache
__pycache__/
*.py[cod]

# Virtual environments
chromatingpt/
.venv/
env/
venv/

# Large datasets and genome files
data/
raw/
*.npz
*.fa
*.fai
*.gz
*.sizes.txt

# Logs
logs/
*.out
*.err

# Model checkpoints and weights
*.h5
*.pt
*.ckpt
model/

# Ignore results directory
results/
